/* css styles for forms */

fieldset {
  background: #FCFCFC;
  border: 0;
  margin: 0;
  border-top: 1px solid #CCC;
  border: 1px solid #EEE;
}

fieldset:hover {
    border: 1px solid #CCC;
}

fieldset legend{
  color: #888;
  font-weight: bold;
}

fieldset label {
  float: left;
  width: 20%;
  margin-right : 7px;
  text-align: right;
  line-height: 1.8;
}

fieldset p {
  margin: 0;
  padding: 2px;
}

/* fieldset footer & buttons */

form footer {
  background: #F0F8FF;
  margin-top: 15px;
  padding: .5em;
  border-top: 1px solid #C2E1EF;
  text-align: right;
}

form footer button {
  margin: 0 5px 0 0;
  padding:1px 4px 1px 3px;
  cursor: pointer;
  font-weight: bold;
  color: #666;
}

form footer button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
}


fieldset .mandatory {
  font-weight: bold;
}

.error-message {
  padding-left: 18px;
  background-image: url(/images/exclamation.png);
  background-repeat: no-repeat;
  color: #E41B17;
  font-style: italic;
}
