/* css styles for forms */

fieldset {
  background: #fcfcfc;
  border: 0;
  margin: 0;
  border-top: 1px solid #ccc;
  border: 1px solid #eee;
}

fieldset:hover {
    border: 1px solid #ccc;
}

fieldset legend{
  color: #888;
  font-weight: bold;
}

fieldset label {
  float: left;
  width: 20%;
  margin-right : 7px;
  text-align: right;
  line-height: 1.8;
}

fieldset p {
  margin: 0;
  padding: 1px;
}

/* fieldset footer & buttons */

form footer {
  background: #f0f8ff;
  margin-top: 15px;
  padding: .5em;
  border-top: 1px solid #9EC068;
  border-top: 1px solid #c2e1ef;
  text-align: right;
}

form footer button {
  margin: 0 5px 0 0;
  padding:1px 4px 1px 3px;
  cursor: pointer;
  font-weight: bold;
  color: #666;
}

form footer button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
}


fieldset .mandatory {
  font-weight: bold;
}

.error-message {
  padding-left: 18px;
  background-image: url(/images/exclamation.png);
  background-repeat: no-repeat;
  color: #e41b17;
  font-style: italic;
}
