
html, body {
  margin: 5;
  height: 100%;
  color: #454545;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

img {
  border: none;
}

/* tables styles */
table {
  border-collapse: collapse;
  border: 1px solid ;
  border-color: #e5eff8;
}

td {
  padding: .1em 0.8em;
  border: 1px solid ;
  border-color: #e5eff8;
}

tr:hover {
  background-color: #FFFFF0;
}

thead th {
  text-align: center;
  color: #66a3d3;
  padding: .2em 0.5em;
  background: #f4f9fe;
  border: 1px solid ;
  border-bottom: 2px solid ;
  border-color: #e5eff8;
}

tfoot th {
  text-align: center;
  font-weight: normal;
  color: grey;
  padding: .2em 0.5em;
  background: #f4f9fe;
  vertical-align:middle;
  border-top: 2px solid;
  border-color: #e5eff8;
}


/* top login box style */


#login-link{
  position: absolute;
  top: 0px;
  display: block;
  background: #2a2a2a;
  padding: 5px 15px 5px 15px;
  color: #FFF;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  -khtml-border-radius: 0 0 7px 7px;
}

#login-panel{
  position: absolute;
  top: 26px;
  padding: 10px 15px 5px 15px;
  background: #2a2a2a;
  font-size: 8pt;
  font-weight: bold;
  color: #FFF;
  display: none;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  -khtml-border-radius: 0 0 7px 7px;
}

label{
  line-height: 1.8;
}

.error-message {
  padding-left: 18px;
  background-image: url(/images/exclamation.png);
  background-repeat: no-repeat;
  color: #E41B17;
#  font-weight: bold;
}
