/* Form stylesheet
   inspired from http://www.fredcavazza.net/files/doc/tutoriels/formulaire/
*/


div#topForm {
    margin-bottom: 7px;
}

div#topForm fieldset {
    background: #F4FFE2;
    border: 0;
    margin: 0;
    border-top: 1px solid #9EC068;
}

div#mainForm fieldset {
    background: #F8F8FF;
    margin: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

div#mainForm .legend {  /*** Mise en forme des aides contextuelles ***/
    font-style: italic;
    color: #666;
}

div#form_left {
    float: left;
    width: 50%;
}

div#form_left fieldset {
    margin:0 5px 4px 0;
}

div#form_right {
    float: left;
    width: 50%;
}

div#form_right fieldset {
    margin:0 0 4px 5px;
}

div#fieldset_left {
    float: left;
    width: 50%;
}

div#fieldset_buttons {
    float: right;
    margin-top:-14px;
    margin-right:-10px;
}

div#clear {
    clear: both;
}

div#footForm {
    text-align: right;
    background: #f4ffe2;
    margin-top: 10px;
    border-top: 1px solid #9EC068;
    padding: .5em;
}

p {
    margin: 0px;
    margin-bottom: 5px;
}

fieldset p label {  /*** Mise en forme des intitulés de champs texte***/
    float: left;
    width: 4em;
    text-align: right;
    padding: 0 .5em 0 0;

}

fieldset p label.large_label {  /*** Mise en forme des intitulés de champs texte***/
    width: 7.5em;
}

fieldset p label.little_label {  /*** Mise en forme des intitulés de champs texte***/
    width: 1em;
}



#input {
#    padding:0.20em;
#    border-top: 1px solid #AAA;
#    border-left: 1px solid #AAA;
#    border-right: 1px solid #CCC;
#    border-bottom: 1px solid #CCC;
#}

#input:focus {
#    background-color: #F5FFFA;
#    border:1px solid #9EC068;
#}


/*** submit buttons ***/

div#footForm button{
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:3px 7px 4px 5px;
}

div#footForm button img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
}

div#footForm button:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
}

div#footForm button.positive:hover{
    background-color:#DCF2B8;
    border:1px solid #9EC068;
}

div#footForm button.positive:active{
    background-color:#9EC068;
    border:1px solid #9EC068;
    color:#fff;
}

div#footForm button.negative{
    float: left;
}

div#footForm button.negative:hover{
    background-color:#fbe3e4;
    border:1px solid #F69;
}

div#footForm button.negative:active{
    background-color:#F33;
    border:1px solid #F69;
    color:#fff;
}

/* sideboxes */
div#sidebox_login {
    padding: 10px;
    border:2px solid #c2e1ef;
    margin-bottom: 10px;
}

div#sidebox_search {
    padding: 10px;
    border:2px solid #c2e1ef;
}
